<div class="page_index pagebox">
    <div class="flex">
        <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div ng-repeat="d in vm.adSettingList" class="swiper-slide">
                    <img ng-src="{{d.adImg}}" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="nav">
            <ul ng-style="vm.style">
                <li ng-click="vm.goto(d.url)" ng-style="d.style" class="{{d.class}}" ng-repeat="d in vm.nav">
                    <img ng-style="d.style" ng-src="./images/index/nav{{d.img}}.png" width="100%" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="footer noflex" ng-include="'app/public/footer.html'"></div>
</div>