@font-face {
  font-family: 'iconfont';  /* project id 255068 */
  src: url('//at.alicdn.com/t/font_ms80e27tuosi3sor.eot');
  src: url('//at.alicdn.com/t/font_ms80e27tuosi3sor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ms80e27tuosi3sor.woff') format('woff'),
  url('//at.alicdn.com/t/font_ms80e27tuosi3sor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ms80e27tuosi3sor.svg#iconfont') format('svg');
}

$colors: (
        main:rgb(40,178,142),
        border:#dce6e5,
        bg:#f5f5f5,
        gray:#999
);

@mixin h_lh($h) {
  height: $h;
  line-height: $h;
}

@mixin border($b:left,$a:after,$c:map_get($colors,border)){
  &::#{$a}{
    content: '';
    display: block;
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background-color: $c;
    @if($b==left){
      top:0px;
      left:0px;
      height: 100%;
      width: 1px;
      -webkit-transform:scaleX(0.5);
      transform:scaleX(0.5);
    }
    @if($b==right){
      top:0px;
      right:0px;
      height:100%;
      width: 1px;
      -webkit-transform:scaleX(0.5);
      transform:scaleX(0.5);
    }
    @if($b==top){
      top:0px;
      left:0px;
      height: 1px;
      width: 100%;
      -webkit-transform:scaleY(0.5);
      transform:scaleY(0.5);
    }
    @if($b==bottom){
      bottom:0px;
      left:0px;
      height: 1px;
      width: 100%;
      -webkit-transform:scaleY(0.5);
      transform:scaleY(0.5);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
  }
}

@mixin box($flex:true){
  display: -webkit-box;
  @if($flex==true){
    display: -webkit-flex;
    display: flex;
  }
}
@mixin flex($flex:1){
  -webkit-box-flex: $flex;
  -webkit-flex: $flex;
  flex: $flex;
}
@mixin thumb($w:40px){
  width: $w;
  height:$w;
  overflow: hidden;
  img{
    width: $w;
    height:$w;
    border-radius: $w/2;
  }
}
@mixin bgimg($path,$x:center,$y:center){
  background-repeat: no-repeat;
  background-position: $x $y;
  background-image: url($path);
}

@mixin noflex(){
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

*{
  padding: 0;
  margin: 0;
  color: #333;
  box-sizing: border-box;
}

@each $i in 1,2,3,4,5,6{
  h#{$i}{
    font-weight: normal;
    font-size: 0.5rem + (0.1rem)*$i;
  }
}

.font{
  font-family: 'iconfont';
}

a{
  text-decoration: none;
}

div{
  font-size: .7rem;
}

p{
  font-size: 0.6rem;
}

li{
  list-style: none;
}

header{
  @include h_lh(2.25rem);
  position: relative;
  background-color: white;
  text-align: center;
  @include border(bottom);
  span{
    font-size: .8rem;
  }
  .back{
    position: absolute;
    left: 0;
    top: 0;
    height: 2.25rem;
    width: 2.25rem;
    text-align: center;
  }
}

footer{
  height: 2rem;
}

.oh{
  overflow: hidden;
}
.fl{
  float: left;
}

.shengluehao {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.pagebox{
  @include box();
  overflow: hidden;
  position: fixed;
  background-color: map_get($colors,bg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-orient:vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  >.flex{
    overflow-y: auto;
    @include flex();
    -webkit-overflow-scrolling:touch;
  }
  >.noflex{
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
